### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
gameDataCsv = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchaseData_df = pd.read_csv(gameDataCsv)

purchaseData_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [11]:
playerCount = purchaseData_df["SN"].nunique()

playerCount

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
#Finding Values

uniqueItem = purchaseData_df["Item Name"].nunique()

avgPrice = purchaseData_df["Price"].mean()

numPurchase = purchaseData_df["Purchase ID"].count()

totalRevenue = purchaseData_df["Price"].sum()

purchaseAnalysis_df = pd.DataFrame({"Number of Unique Items": [uniqueItem], "Average Price": [avgPrice],
                                   "Number of Purchases": [numPurchase], "Total Revenue": [totalRevenue]})

#Formatting the data
purchaseAnalysis_df["Average Price"] = purchaseAnalysis_df["Average Price"].map("${:.2f}".format)
purchaseAnalysis_df["Total Revenue"] = purchaseAnalysis_df["Total Revenue"].map("${:.2f}".format)

purchaseAnalysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [25]:
#Grouping the data by gender
genderData = purchaseData_df.groupby("Gender")
#Getting the counts of players by gender
genderCounts = genderData["SN"].nunique()
#Finding percent by gender
genderPercents = genderCounts/playerCount * 100
#Making and formatting the Data Frame
genderDemos = pd.DataFrame({"Total Count": genderCounts, "Percentage of Players": genderPercents})

genderDemos = genderDemos.style.format({"Percentage of Players": "{:.2f}%"})


genderDemos


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
#Getting purchase counts by gender
genderPurchases = genderData["Purchase ID"].count()

avgGenPrice = genderData["Price"].mean()

purchaseValue = genderData["Price"].sum()
#Finding the Total purchase per person using the number of unique users
avgPurchase = purchaseValue/genderCounts


genderAnalysis = pd.DataFrame({"Purchase Count": genderPurchases, "Average Purchase Price": avgGenPrice,
                              "Total Purchase Value": purchaseValue, "Avg Total Purchase per Person": avgPurchase})
#Formatting the data frame
genderAnalysis["Average Purchase Price"] = genderAnalysis["Average Purchase Price"].map("${:.2f}".format)
genderAnalysis["Total Purchase Value"] = genderAnalysis["Total Purchase Value"].map("${:.2f}".format)
genderAnalysis["Avg Total Purchase per Person"] = genderAnalysis["Avg Total Purchase per Person"].map("${:.2f}".format)



genderAnalysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [26]:
#Setting up my bins and group names for my data cut
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#Cutting my data into bins
purchaseData_df["Age Group"] = pd.cut(purchaseData_df["Age"], bins, labels=group_names)
#Assigning values to fill in the DataFrame
ageData = purchaseData_df.groupby("Age Group")

ageCounts = ageData["SN"].nunique()

agePercents = ageCounts/playerCount * 100

ageDemos = pd.DataFrame({"Total Count": ageCounts, "Percentage of Players": agePercents})
#Formatting the data
ageDemos = ageDemos.style.format({"Percentage of Players": "{:.2f}%"})

ageDemos

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [28]:
#Getting purchase counts by age
agePurchases = ageData["Purchase ID"].count()

avgAgePrice = ageData["Price"].mean()

ageValue = ageData["Price"].sum()
#Finding the Total purchase per person using the number of unique users
avgAgePurchase = ageValue/ageCounts


ageAnalysis = pd.DataFrame({"Purchase Count": agePurchases, "Average Purchase Price": avgAgePrice,
                              "Total Purchase Value": ageValue, "Avg Total Purchase per Person": avgAgePurchase})
#Formatting the data frame
ageAnalysis["Average Purchase Price"] = ageAnalysis["Average Purchase Price"].map("${:.2f}".format)
ageAnalysis["Total Purchase Value"] = ageAnalysis["Total Purchase Value"].map("${:.2f}".format)
ageAnalysis["Avg Total Purchase per Person"] = ageAnalysis["Avg Total Purchase per Person"].map("${:.2f}".format)

ageAnalysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:
#Filtering by screen names
spenderData = purchaseData_df.groupby("SN")

spendPurchases = spenderData["Purchase ID"].count()

avgSpendPrice = spenderData["Price"].mean()

spendValue = spenderData["Price"].sum()

spendAnalysis = pd.DataFrame({"Purchase Count": spendPurchases, "Average Purchase Price": avgSpendPrice,
                              "Total Purchase Value": spendValue})
#Using to sort by total purchase amount
highSpender = spendAnalysis.sort_values("Total Purchase Value", ascending=False)
#Formatting the data
highSpender["Average Purchase Price"] = highSpender["Average Purchase Price"].map("${:.2f}".format)
highSpender["Total Purchase Value"] = highSpender["Total Purchase Value"].map("${:.2f}".format)


highSpender.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame